@if (news(); as news) {
  <div class="catalog">
    <h2 class="catalog__title">Автомобильные новости</h2>
    <div class="catalog__list">
      @if (news) {
        @for (newsItem of news; track newsItem.id; let last = $last) {
          <app-news-card [news]="newsItem"/>

          @if (last) {
            @defer (on viewport) {
              <app-infinite-scroll-trigger (loaded)="timeToFetch()"></app-infinite-scroll-trigger>
            } @placeholder {
              <div></div>
            }
          }
        }
      }
    </div>
  </div>
}
