@use "mixins";
@use "breakpoints";

.catalog {
  &__title {
    @include mixins.title-64;
    margin-bottom: 40px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 24px;
  }
}

@include breakpoints.xl {
  .catalog {
    &__list {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

@include breakpoints.md {
  .catalog {
    &__title {
      @include mixins.title-32;
      margin-bottom: 32px;
    }
  }
}

@include breakpoints.sm {
  .catalog {
    &__list {
      grid-template-columns: 1fr;
    }
  }
}
