.header {
  padding: 24px 0;
  border-bottom: 1px solid var(--black-10);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: var(--black-100);
    text-transform: uppercase;
  }
}

@media screen and (max-width: 768px) {
  .header {
    &__logo {
      max-width: 30px;
    }

    &__title {
      width: 100%;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      text-align: center;
    }

    &__actions {
      position: absolute;
      bottom: 20px;
      right: 10px;
    }
  }
}
