@use "../../../../styles/mixins";
@use "../../../../styles/breakpoints";

.published-date {
  padding: 8px 12px;
  display: inline-block;
  @include mixins.text-20;
  color: var(--black-80);
  background: var(--black-05);
  border-radius: 25px;
}

@include breakpoints.md {
  .published-date {
    @include mixins.text-16;
  }
}
