@use "mixins";
@use "breakpoints";

.news-card {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
  cursor: pointer;

  &__image {
    max-width: 464px;
    width: 100%;
    height: 379px;
    transition: opacity 0.3s ease;
  }

  &__description {
    @include mixins.text-24;
    font-weight: 500;
  }

  &:hover &__image {
    opacity: 0.8;
  }

  &:hover &__description {
    color: var(--link);
  }
}

@include breakpoints.xl {
  .news-card {
    &__image {
      max-width: 100%;
    }
  }
}

@include breakpoints.md {
  .news-card {
    &__description {
      @include mixins.text-20;
    }
  }
}

@include breakpoints.sm {
  .news-card {
    &__image {
      max-width: 100%;
      height: 343px;
    }
  }
}
